<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="overview (allUsers)(allProducts)(allOrders)">
		<div class="container-fluid">
			<div class="row justify-content-around my-5 py-5">
				<a href="/adminPage/page?p=0" class="col-md-3 card text-center"
					style="background-color: #F8F3F0; height: 300px; text-decoration: none">
					<i class="fa-solid fa-user py-5 text-dark"
					style="font-size: 100px;"></i>
					<div>
						<h3 class="card-title text-dark">Total User</h3>
						<h4 th:text="${allUsers}" class="text-dark"></h4>
					</div>
				</a> <a href="/listproducts?namePage=products&p=0"
					class="col-md-3 card text-center text-dark"
					style="background-color: #F8F3F0; height: 300px; text-decoration: none">
					<i class="fa-solid fa-suitcase py-5" style="font-size: 100px;"></i>
					<div>
						<h3 class="card-title text-dark">Total Product</h3>
						<h4 th:text="${allProducts}" class="text-dark"></h4>
					</div>
				</a>
				<a href="/listorders?namePage=listorders&p=0"
				   class="col-md-3 card text-center text-dark"
					style="background-color: #F8F3F0; height: 300px;text-decoration: none">
					<i class="fa-solid fa-list-check py-5" style="font-size: 100px;"></i>
					<div>
						<h3 class="card-title text-dark">Wait Check</h3>
						<h4 th:text="${allOrders}"></h4>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div th:fragment="addproduct">
		<div class="container-fluid d-flex justify-content-between flex-wrap"
			style="width: 800px">
			<div class="card my-5" style="width: 18rem; height: 14rem">
				<div class="card-body">
					<p class="card-text text-center" style="margin: 27px 0 0 0">
						<i class="fa-solid fa-laptop p-3" style="font-size: 88px;"></i>
					</p>
					<a href="/product/category?namePage=laptop" class="btn btn-dark"
						style="width: 245px; color: #3edbf0">Add Laptop</a>
				</div>
			</div>
			<div class="card my-5" style="width: 18rem; height: 14rem">
				<div class="card-body">
					<p class="card-text text-center">
						<img alt="" th:src="@{/smartwatch.svg}"
							style="width: 100px; height: 100px; margin-top: 20px; margin-bottom: 10px">
					</p>
					<a href="/product/category?namePage=smartwatch" class="btn btn-dark"
						style="width: 245px; color: #3edbf0">Add SmartWatch</a>
				</div>
			</div>
			<div class="card" style="width: 18rem; height: 14rem">
				<div class="card-body" style="margin-top: 43px">
					<p class="card-text text-center">
						<i class="fa-solid fa-headphones" style="font-size: 88px;"></i>
					</p>
					<a href="/product/category?namePage=earphone" class="btn btn-dark"
						style="width: 245px; color: #3edbf0">Add Earphone</a>
				</div>
			</div>
			<div class="card" style="width: 18rem; height: 14rem">
				<div class="card-body" style="margin-top: 43px">
					<p class="card-text text-center">
						<i class="fa-solid fa-tablet-screen-button"
							style="font-size: 88px;"></i>
					</p>
					<a href="/product/category?namePage=tablet" class="btn btn-dark"
						style="width: 245px; color: #3edbf0">Add Tablet</a>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="products">
		<div class="container mb-4">
			<div class="row"></div>
			<table class="table table-striped" border="1" style="width: 1150px";>
				<thead class="thead-dark">
					<tr>
						<th style="color: #3edbf0" class="text-center">STT</th>
						<th style="color: #3edbf0" class="text-center">ID</th>
						<th style="color: #3edbf0 ">Tên sản phẩm</th>
						<th style="color: #3edbf0" class="text-center">Hãng sản xuất</th>
						<th style="color: #3edbf0" class="text-center">Giá</th>
						<th style="color: #3edbf0" class="text-center">Số lượng</th>
						<th style="color: #3edbf0" class="text-center">Loại sản phẩm</th>
						<th style="color: #3edbf0" class="text-center">Ảnh</th>
						<th style="color: #3edbf0" class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p, index: ${listProducts}">
						<td th:text="${index.count}" class="text-center"
							style="line-height: 100px"></td>
						<td th:text="${p.id}" class="text-center"
							style="line-height: 100px"></td>
						<td th:text="${p.productName}" style="line-height: 100px;
						display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical;
						-webkit-line-clamp: 1; border: none"></td>
						<td th:text="${p.brand}" class="text-center"
							style="line-height: 100px"></td>
						<td th:text="${#numbers.formatDecimal(p.price,0,'POINT',0,'POINT')}+đ" class="text-center"
							style="line-height: 100px"></td>
						<td th:text="${p.number}" class="text-center"
							style="line-height: 100px"></td>
						<td th:text="${p.categoryName}" class="text-center"
							style="line-height: 100px"></td>
						<td><img
							th:src="@{'./images/' + ${p.id} + '/infor/' + ${p.imageProductInfor}}"
							style="width: 100px; height: 100px;" /></td>
						<td th:if="${p.isDeleted==0}" style="padding-top: 40px"><a
							th:href="@{/listproducts/update(namePage=${p.categoryName},id=${p.id})}"
							class="btn btn-primary">Sửa</a>
							<button class="btn btn-danger delete" data-toggle="modal"
								data-target="#myModal" th:data-id="${p.id}">Xóa</button>
							<div id="myModal" class="modal fade" role="dialog">
								<div class="modal-dialog" role="document">
									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title"></h4>
										</div>
										<div class="modal-body">
											<p>Bạn có chắc muốn xóa sản phẩm này không?</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary"
												data-dismiss="modal">Cancel</button>
											<a class="btn btn-danger submit">Yes</a>
										</div>
									</div>
								</div>
							</div></td>
						<td th:if="${p.isDeleted==1}" style="padding-top: 40px">
							<div class="btn btn-danger check disabled" data-toggle="modal"
							>Ngưng bán</div>
						</td>
					</tr>
				</tbody>
			</table>
			<span th:text="'Total rows:' + ' ' + ${allProducts}"></span>
			<nav aria-label="Page navigation example"
				th:unless="(${listProducts.getTotalPages()}<=1)">
				<ul class="pagination justify-content-end">
					<li class="page-item"><a class="page-link text-dark"
						th:href="@{/listproducts(namePage='products',p=${currentPage}-1)}"
						th:if="${currentPage>0}"><i class="fa-solid fa-angles-left"></i></a>
					</li>
					<th:block th:each="page : ${numberPage}">
						<li class="page-item"><a class="page-link text-dark"
							th:href="@{/listproducts(namePage='products',p=${page})}" th:text="${page}"
							th:if="${page>0}"></a> <a class="page-link text-dark"
							th:href="@{/listproducts(namePage='products',p=${page})}" th:if="${page==0}">First</a>
						</li>
					</th:block>
					<li class="page-item"><a class="page-link text-dark"
						th:href="@{/listproducts(namePage='products',p=${listProducts.getTotalPages()-1})}">Last</a>
					</li>
					<li class="page-item"><a class="page-link text-dark"
						th:href="@{/listproducts(namePage='products',p=${currentPage}+1)}"
						th:unless="${currentPage} == ${listProducts.getTotalPages()-1}"> <i
							class="fa-solid fa-angles-right"></i></a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div th:fragment="listorders">
		<div class="container mb-4">
			<div class="row"></div>
			<table class="table table-striped" border="1" style="width: 1150px";>
				<thead class="thead-dark">
				<tr>
					<th style="color: #3edbf0" class="text-center">STT</th>
					<th style="color: #3edbf0" class="text-center">Tên khách hàng</th>
					<th style="color: #3edbf0" class="text-center">Mã khách hàng</th>
					<th style="color: #3edbf0 " class="text-center">Địa chỉ</th>
					<th style="color: #3edbf0" class="text-center">Ngày đặt hàng</th>
					<th style="color: #3edbf0" class="text-center">Tổng giá đơn hàng</th>
					<th style="color: #3edbf0" class="text-center">Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="p, index: ${listOrders}">
					<td th:text="${index.count}" class="text-center"
						style="line-height: 100px"></td>
					<td th:text="${p.user.username}" class="text-center"
						style="line-height: 100px"></td>
					<td th:text="${p.user.phone}" class="text-center"
						style="line-height: 100px"></td>
					<td th:text="${p.address}" class="text-center" style="line-height: 100px;
						display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical;
						-webkit-line-clamp: 1; border: none"></td>
					<td th:text="${p.date}" class="text-center"
						style="line-height: 100px"></td>
					<td th:text="${#numbers.formatDecimal(p.totalPrice,0,'POINT',0,'POINT')}+đ" class="text-center"
						style="line-height: 100px"></td>
					<td style="padding-top: 40px; text-align: center">
						<a th:href="@{/listorders/orderdetail(namePage='orderdetail',id=${p.id})}"
							class="btn btn-primary">Chi tiết</a>
						<button class="btn btn-danger check" data-toggle="modal"
								data-target="#myModal" th:data-id="${p.id}" th:if="${p.status==0}"
						>Duyệt</button>
						<div class="btn btn-danger check disabled" data-toggle="modal" th:if="${p.status==1}"
						>Đã duyệt</div>
						<div id="myModal" class="modal fade" role="dialog">
							<div class="modal-dialog" role="document">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title"></h4>
									</div>
									<div class="modal-body">
										<p>Kiểm tra kĩ thông tin trước khi duyệt đơn</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary"
												data-dismiss="modal">Cancel</button>
										<a class="btn btn-danger submit">Duyệt đơn</a>
									</div>
								</div>
							</div>
						</div></td>
				</tr>
				</tbody>
			</table>
			<nav aria-label="Page navigation example"
				 th:unless="(${listOrders.getTotalPages()}<=1)">
				<ul class="pagination justify-content-end">
					<li class="page-item"><a class="page-link text-dark"
											 th:href="@{/listorders(namePage='listorders',p=${currentPage}-1)}"
											 th:if="${currentPage>0}"><i class="fa-solid fa-angles-left"></i></a>
					</li>
					<th:block th:each="page : ${numberPage}">
						<li class="page-item"><a class="page-link text-dark"
												 th:href="@{/listorders(namePage='listorders',p=${page})}" th:text="${page}"
												 th:if="${page>0}"></a> <a class="page-link text-dark"
																		   th:href="@{/listorders(namePage='listorders',p=${page})}" th:if="${page==0}">First</a>
						</li>
					</th:block>
					<li class="page-item"><a class="page-link text-dark"
											 th:href="@{/listorders(namePage='listorders',p=${listOrders.getTotalPages()-1})}">Last</a>
					</li>
					<li class="page-item"><a class="page-link text-dark"
											 th:href="@{/listorders(namePage='listorders',p=${currentPage}+1)}"
											 th:unless="${currentPage} == ${listOrders.getTotalPages()-1}"> <i
							class="fa-solid fa-angles-right"></i></a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div th:fragment="orderdetail">
		<a href="/listorders?namePage=listorders&p=0" class="fa-regular fa-circle-xmark text-dark"
		style="font-size: 35px; text-decoration: none; margin-left: 30px"></a>
		<div class="container mb-4">
			<div class="row"></div>
			<table class="table table-striped" border="1" style="width: 1150px";>
				<thead class="thead-dark">
				<tr>
					<th style="color: #3edbf0;width: 100px;" class="text-center">Ảnh</th>
					<th style="color: #3edbf0" class="text-center">Tên sản phẩm</th>
					<th style="color: #3edbf0" class="text-center">Số lượng</th>
					<th style="color: #3edbf0" class="text-center">Tổng giá</th>

				</tr>
				</thead>
				<tbody>
				<tr th:each="p, index: ${orderdetail}">
					<td><img
							th:src="@{'../images/' + ${p.product.id} + '/infor/' + ${p.product.imageProductInfor}}"
							style="width: 100px; height: 100px; text-align: center" /></td>
					<td th:text="${p.product.productName}" class="text-center"
						style="line-height: 100px"></td>
					<td th:text="${p.number}" class="text-center"
						style="line-height: 100px"></td>
					<td th:text="${#numbers.formatDecimal(p.totalPriceOne,0,'POINT',0,'POINT')}+đ" class="text-center"
						style="line-height: 100px"></td>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container" th:fragment="listusers">
		<table class="table table-striped" border="1" style="width: 1110px;">
			<thead class="thead-dark">
				<tr>
					<th style="color: #3edbf0" class="text-center">STT</th>
					<th style="color: #3edbf0" class="text-center">Id</th>
					<th style="color: #3edbf0">Username</th>
					<th style="color: #3edbf0" class="text-center">Address</th>
					<th style="color: #3edbf0">Email</th>
					<th style="color: #3edbf0" class="text-center">Phone</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user, iterStat: ${listUser}">
					<td th:text="${iterStat.count}" class="text-center"></td>
					<td th:text="${user.id}" class="text-center"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${user.address}" class="text-center"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.phone}" class="text-center"></td>
				</tr>
			</tbody>
		</table>
		<span th:text="'Total rows:' + ' ' + ${alluser}"></span>
		<nav aria-label="Page navigation example"
			th:unless="(${listUser.getTotalPages()}<=1)">
			<ul class="pagination justify-content-end">
				<li class="page-item"><a class="page-link text-dark"
					th:href="@{/adminPage/page(p=${currentPage}-1)}"
					th:if="${currentPage>0}"><i class="fa-solid fa-angles-left"></i></a>
				</li>
				<th:block th:each="page : ${numberPage}">
					<li class="page-item"><a class="page-link text-dark"
						th:href="@{/adminPage/page(p=${page})}" th:text="${page}"
						th:if="${page>0}"></a> <a class="page-link text-dark"
						th:href="@{/adminPage/page(p=${page})}" th:if="${page==0}">First</a>
					</li>
				</th:block>
				<li class="page-item"><a class="page-link text-dark"
					th:href="@{/adminPage/page(p=${listUser.getTotalPages()-1})}">Last</a>
				</li>
				<li class="page-item"><a class="page-link text-dark"
					th:href="@{/adminPage/page(p=${currentPage}+1)}"
					th:unless="${currentPage} == ${listUser.getTotalPages()-1}"> <i
						class="fa-solid fa-angles-right"></i></a></li>
			</ul>
		</nav>
	</div>
	<div class="container my-3" th:fragment="tablet">
		<a href="/adminPage/next?namePage=addproduct&p=0"
			class="fa-regular fa-circle-xmark text-dark"
			style="font-size: 35px; text-decoration: none;"></a>
		<div class="row d-flex justify-content-center">
			<form th:action="@{/product/category?namePage=tablet}"
				class="col-md-5" th:object="${product}" method="post" action="#"
				enctype="multipart/form-data">
				<h2 class="text-center">Add Tablet</h2>
				<div class="form-group">
					<label for="">Tên Tablet:</label> <input type="text"
						class="form-control" th:field="*{productName}" required />
				</div>
				<div class="form-group" style="position: relative">
					<label for="">Giá sản phẩm:</label> <input type="text" id="price"
						class="form-control" th:field="*{price}" required onfocus="this.value='';"/>
					<span id="mes-price" style="position: absolute; top:40px; right: 10px; color: red" ></span>
				</div>
				<div class="form-group">
					<label for="">Màn hình:</label> <input type="text"
						class="form-control" th:field="*{configure.screen}" required />
				</div>
				<div class="form-group">
					<label for="">Camera trước:</label> <input type="text"
						class="form-control" th:field="*{configure.frontCamera}" required />
				</div>
				<div class="form-group">
					<label for="">Camera sau:</label> <input type="text"
						class="form-control" th:field="*{configure.backCamera}" required />
				</div>
				<div class="form-group">
					<label for="">Chip:</label> <input type="text" class="form-control"
						required th:field="*{configure.chip}" />
				</div>
				<div class="form-group">
					<label for="">Pin:</label> <input type="text" class="form-control"
						required th:field="*{configure.pin}" />
				</div>
				<div class="form-group">
					<label for="">Chọn hệ điều hành:</label>
					<div class="d-flex justify-content-around">
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="customRadio"
								name="radio" value="Android" th:field="*{configure.os}" required>
							<label class="custom-control-label" for="customRadio">Android</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input"
								id="customRadio2" name="radio" value="iPadOS"
								th:field="*{configure.os}" required> <label
								class="custom-control-label" for="customRadio2">iPadOS</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Số lượng:</label> <input type="text"
						class="form-control" th:field="*{number}" style="width: 150px" required onfocus="this.value='';"/>
				</div>
				<div class="form-group d-flex flex-column">
					<label for="">Dung lượng lữu trữ:</label> <select name="diskSpace"
						th:field="*{configure.diskSpace}"
						class="custom-select custom-select-md" style="width: 150px">
						<option th:each="d : ${diskSpaceList}" th:value="${d}"
							th:text="${d}" />
					</select>
				</div>
				<div class="form-group d-flex flex-column">
					<label for="">Hãng sản xuất:</label> <select name="cars"
						th:field="*{brand}" class="custom-select custom-select-md"
						style="width: 250px">
						<option th:each="b : ${brandList}" th:value="${b}" th:text="${b}" />
					</select>
				</div>
				<div class="form-group">
					<label for="">Ram:</label>
					<div class="d-flex justify-content-around">
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram1"
								name="ram" value="4GB" th:field="*{configure.ram}"><label
								class="custom-control-label" for="ram1">4GB</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram2"
								name="ram" value="8GB" th:field="*{configure.ram}"> <label
								class="custom-control-label" for="ram2">8GB</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram3"
								name="ram" value="16GB" th:field="*{configure.ram}"> <label
								class="custom-control-label" for="ram3">16GB</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Sim:</label>
					<div class="d-flex justify-content-around">
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="sim1"
								name="sim" value="có sim" th:field="*{configure.sim}" required> <label
								class="custom-control-label" for="sim1">Có sim</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="sim2"
								name="sim" value="không có sim" th:field="*{configure.sim}" required>
							<label class="custom-control-label" for="sim2">Không có
								sim</label>
						</div>
					</div>
				</div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn 1 ảnh đại diện sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="imageInfor" placeholder="Enter photo" accept="image/*"
						id="image1" required>
				</div>
				<div id="frame1" class="d-flex justify-content-around flex-wrap"></div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn từ 2 đến 10 ảnh ảnh chi tiết sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="photos" placeholder="Enter photo" accept="image/*"
						id="image" multiple="multiple" required>
				</div>
				<div id="frames" class="d-flex justify-content-around flex-wrap"></div>
				<button type="submit" class="btn btn-primary" id="submit">Thêm
					sản phẩm</button>
			</form>
		</div>
	</div>
	<div class="container my-3" th:fragment="tabletupdate">
		<a href="/listproducts?namePage=products&p=0"
			class="fa-regular fa-circle-xmark text-dark"
			style="font-size: 35px; text-decoration: none;"></a>
		<div class="row d-flex justify-content-center">
			<form th:action="@{/listproducts/update(id=${product.getId()})}"
				class="col-md-5" th:object="${product}" method="post" action="#"
				enctype="multipart/form-data">
				<h2 class="text-center">Update Tablet</h2>
				<div class="form-group">
					<label for="">Tên Tablet:</label> <input type="text"
						class="form-control" th:field="*{productName}" required />
				</div>
				<div class="form-group" style="position: relative">
					<label for="">Giá sản phẩm:</label> <input type="text" id="price" class="form-control" th:field="*{price}" required onfocus="this.value='';"/>
					<span id="mes-price" style="position: absolute; top:40px; right: 10px; color: red" ></span>
				</div>
				<div class="form-group">
					<label for="">Màn hình:</label> <input type="text"
						class="form-control" th:field="*{configure.screen}" required />
				</div>
				<div class="form-group">
					<label for="">Camera trước:</label> <input type="text"
						class="form-control" th:field="*{configure.frontCamera}" required />
				</div>
				<div class="form-group">
					<label for="">Camera sau:</label> <input type="text"
						class="form-control" th:field="*{configure.backCamera}" required />
				</div>
				<div class="form-group">
					<label for="">Chip:</label> <input type="text" class="form-control"
						required th:field="*{configure.chip}" />
				</div>
				<div class="form-group">
					<label for="">Pin:</label> <input type="text" class="form-control"
						required th:field="*{configure.pin}" />
				</div>
				<div class="form-group">
					<label for="">Chọn hệ điều hành:</label>
					<div class="d-flex justify-content-around">
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="customRadio"
								name="radio" value="Android" th:field="*{configure.os}">
							<label class="custom-control-label" for="customRadio">Android</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input"
								id="customRadio2" name="radio" value="iPadOS"
								th:field="*{configure.os}"> <label
								class="custom-control-label" for="customRadio2">iPadOS</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Số lượng:</label> <input type="text"
						class="form-control" th:field="*{number}" style="width: 150px" />
				</div>
				<div class="form-group d-flex flex-column">
					<label for="">Dung lượng lữu trữ:</label> <select name="diskSpace"
						th:field="*{configure.diskSpace}"
						class="custom-select custom-select-md" style="width: 150px">
						<option th:each="d : ${diskSpaceList}" th:value="${d}"
							th:text="${d}" />
					</select>
				</div>
				<div class="form-group d-flex flex-column">
					<label for="">Hãng sản xuất:</label> <select name="cars"
						th:field="*{brand}" class="custom-select custom-select-md"
						style="width: 250px">
						<option th:each="b : ${brandList}" th:value="${b}" th:text="${b}" />
					</select>
				</div>
				<div class="form-group">
					<label for="">Ram:</label>
					<div class="d-flex justify-content-around">
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram1"
								name="ram" value="4GB" th:field="*{configure.ram}"><label
								class="custom-control-label" for="ram1">4GB</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram2"
								name="ram" value="8GB" th:field="*{configure.ram}"> <label
								class="custom-control-label" for="ram2">8GB</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram3"
								name="ram" value="16GB" th:field="*{configure.ram}"> <label
								class="custom-control-label" for="ram3">16GB</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Sim:</label>
					<div class="d-flex justify-content-around">
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="sim1"
								name="sim" value="có sim" th:field="*{configure.sim}"> <label
								class="custom-control-label" for="sim1">Có sim</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="sim2"
								name="sim" value="không có sim" th:field="*{configure.sim}">
							<label class="custom-control-label" for="sim2">Không có
								sim</label>
						</div>
					</div>
				</div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn 1 ảnh đại diện sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="imageInfor" placeholder="Enter photo" accept="image/*"
						id="image1">
				</div>
				<div id="frame1" class="d-flex justify-content-around flex-wrap">
					<img th:src="@{'../images/' + ${product.getId()} + '/infor/' + ${product.getImageProductInfor()}}" 
					alt="" style="width:200px; height:200px"/>
				</div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn từ 2 đến 10 ảnh chi tiết sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="photos" placeholder="Enter photo" accept="image/*"
						id="image" multiple="multiple">
				</div>
				<div id="frames" class="d-flex justify-content-around flex-wrap">
					<th:block th:each="p : ${product.getProductImages()}">
						<img th:src="@{'../images/' + ${product.getId()} + '/' + ${p.getImage()}}"
						 alt="" style="width:200px; height:200px; margin-bottom: 15px; margin-top: 10px"/>
					</th:block>
				</div>
				<button type="submit" class="btn btn-primary" id="submit">Chỉnh
					sửa sản phẩm</button>
			</form>
		</div>
	</div>
	<div class="container my-3" th:fragment="laptop">
		<a href="/adminPage/next?namePage=addproduct&p=0"
			class="fa-regular fa-circle-xmark text-dark"
			style="font-size: 35px; text-decoration: none;"></a>
		<div class="row d-flex justify-content-center">
			<form th:action="@{/product/category?namePage=laptop}"
				class="col-md-5" th:object="${product}" method="post" action="#"
				enctype="multipart/form-data">
				<h2 class="text-center">Add Laptop</h2>
				<div class="form-group">
					<label for="">Tên Laptop:</label> <input type="text"
						class="form-control" th:field="*{productName}" required />
				</div>
				<div class="form-group" style="position: relative">
					<label for="">Giá sản phẩm:</label> <input type="text" id="price"
															   class="form-control" th:field="*{price}" required onfocus="this.value='';"/>
					<span id="mes-price" style="position: absolute; top:40px; right: 10px; color: red" ></span>
				</div>
				<div class="form-group">
					<label for="">Màn hình:</label> <input type="text"
						class="form-control" th:field="*{configure.screen}" required />
				</div>
				<div class="form-group">
					<label for="">CPU:</label> <input type="text"
						class="form-control" th:field="*{configure.cpu}" required />
				</div>
				<div class="form-group">
					<label for="">Ổ cứng:</label> <input type="text"
						class="form-control" th:field="*{configure.hardDrive}" required />
				</div>
				<div class="form-group">
					<label for="">Khối lượng:</label> <input type="text" class="form-control"
						required th:field="*{configure.weight}" />
				</div>
				<div class="form-group">
					<label for="">Card màn hình:</label> <input type="text" class="form-control"
						required th:field="*{configure.screenCard}" />
				</div>
				<div class="form-group">
					<label for="">Chọn hệ điều hành:</label>
					<div class="d-flex justify-content-around">
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="customRadio"
								name="radio" value="Windows" th:field="*{configure.os}">
							<label class="custom-control-label" for="customRadio">Windows</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input"
								id="customRadio2" name="radio" value="MacOS"
								th:field="*{configure.os}"> <label
								class="custom-control-label" for="customRadio2">MacOS</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Số lượng:</label> <input type="text"
						class="form-control" th:field="*{number}" required style="width: 150px" onfocus="this.value='';"/>
				</div>
				<div class="form-group d-flex flex-column">
					<label for="">Hãng sản xuất:</label> <select name="cars"
						th:field="*{brand}" class="custom-select custom-select-md"
						style="width: 250px">
						<option th:each="b : ${brandList}" th:value="${b}" th:text="${b}" />
					</select>
				</div>
				<div class="form-group">
					<label for="">Ram:</label>
					<div class="d-flex justify-content-around">
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram1"
								name="ram" value="4GB" th:field="*{configure.ram}"><label
								class="custom-control-label" for="ram1">4GB</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram2"
								name="ram" value="8GB" th:field="*{configure.ram}"> <label
								class="custom-control-label" for="ram2">8GB</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram3"
								name="ram" value="16GB" th:field="*{configure.ram}"> <label
								class="custom-control-label" for="ram3">16GB</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram4"
								name="ram" value="32GB" th:field="*{configure.ram}"> <label
								class="custom-control-label" for="ram4">32GB</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram5"
								name="ram" value="64GB" th:field="*{configure.ram}"> <label
								class="custom-control-label" for="ram5">64GB</label>
						</div>
					</div>
				</div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn 1 ảnh đại diện sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="imageInfor" placeholder="Enter photo" accept="image/*"
						id="image1" required>
				</div>
				<div id="frame1" class="d-flex justify-content-around flex-wrap"></div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn từ 2 đến 10 ảnh chi tiết sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="photos" placeholder="Enter photo" accept="image/*"
						id="image" multiple="multiple" required>
				</div>
				<div id="frames" class="d-flex justify-content-around flex-wrap"></div>
				<button type="submit" class="btn btn-primary" id="submit">Thêm
					sản phẩm</button>
			</form>
		</div>
	</div>
	<div class="container my-3" th:fragment="laptopupdate">
		<a href="/listproducts?namePage=products&p=0"
			class="fa-regular fa-circle-xmark text-dark"
			style="font-size: 35px; text-decoration: none;"></a>
		<div class="row d-flex justify-content-center">
			<form th:action="@{/listproducts/update(id=${product.getId()})}"
				class="col-md-5" th:object="${product}" method="post" action="#"
				enctype="multipart/form-data">
				<h2 class="text-center">Update Laptop</h2>
				<div class="form-group">
					<label for="">Tên Laptop:</label> <input type="text"
						class="form-control" th:field="*{productName}" required />
				</div>
				<div class="form-group" style="position: relative">
					<label for="">Giá sản phẩm:</label> <input type="text" id="price"
															   class="form-control" th:field="*{price}" required onfocus="this.value='';"/>
					<span id="mes-price" style="position: absolute; top:40px; right: 10px; color: red" ></span>
				</div>
				<div class="form-group">
					<label for="">Màn hình:</label> <input type="text"
						class="form-control" th:field="*{configure.screen}" required />
				</div>
				<div class="form-group">
					<label for="">CPU:</label> <input type="text"
						class="form-control" th:field="*{configure.cpu}" required />
				</div>
				<div class="form-group">
					<label for="">Ổ cứng:</label> <input type="text"
						class="form-control" th:field="*{configure.hardDrive}" required />
				</div>
				<div class="form-group">
					<label for="">Khối lượng:</label> <input type="text" class="form-control"
						required th:field="*{configure.weight}" />
				</div>
				<div class="form-group">
					<label for="">Card màn hình:</label> <input type="text" class="form-control"
						required th:field="*{configure.screenCard}" />
				</div>
				<div class="form-group">
					<label for="">Chọn hệ điều hành:</label>
					<div class="d-flex justify-content-around">
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="customRadio"
								name="radio" value="Windows" th:field="*{configure.os}">
							<label class="custom-control-label" for="customRadio">Windows</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input"
								id="customRadio2" name="radio" value="MacOS"
								th:field="*{configure.os}"> <label
								class="custom-control-label" for="customRadio2">MacOS</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Số lượng:</label> <input type="text"
						class="form-control" th:field="*{number}" style="width: 150px" />
				</div>
				<div class="form-group d-flex flex-column">
					<label for="">Hãng sản xuất:</label> <select name="cars"
						th:field="*{brand}" class="custom-select custom-select-md"
						style="width: 250px">
						<option th:each="b : ${brandList}" th:value="${b}" th:text="${b}" />
					</select>
				</div>
				<div class="form-group">
					<label for="">Ram:</label>
					<div class="d-flex justify-content-around">
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram1"
								name="ram" value="4GB" th:field="*{configure.ram}"><label
								class="custom-control-label" for="ram1">4GB</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram2"
								name="ram" value="8GB" th:field="*{configure.ram}"> <label
								class="custom-control-label" for="ram2">8GB</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram3"
								name="ram" value="16GB" th:field="*{configure.ram}"> <label
								class="custom-control-label" for="ram3">16GB</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram4"
								name="ram" value="32GB" th:field="*{configure.ram}"> <label
								class="custom-control-label" for="ram4">32GB</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="ram5"
								name="ram" value="64GB" th:field="*{configure.ram}"> <label
								class="custom-control-label" for="ram5">64GB</label>
						</div>
					</div>
				</div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn 1 ảnh đại diện sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="imageInfor" placeholder="Enter photo" accept="image/*"
						id="image1">
				</div>
				<div id="frame1" class="d-flex justify-content-around flex-wrap">
					<img th:src="@{'../images/' + ${product.getId()} + '/infor/' + ${product.getImageProductInfor()}}" 
					alt="" style="width:200px; height:200px"/>
				</div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn từ 2 đến 10 ảnh chi tiết sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="photos" placeholder="Enter photo" accept="image/*"
						id="image" multiple="multiple">
				</div>
				<div id="frames" class="d-flex justify-content-around flex-wrap">
					<th:block th:each="p : ${product.getProductImages()}">
						<img th:src="@{'../images/' + ${product.getId()} + '/' + ${p.getImage()}}"
						 alt="" style="width:200px; height:200px; margin-bottom: 15px; margin-top: 10px"/>
					</th:block>
				</div>
				<button type="submit" class="btn btn-primary" id="submit">Chỉnh sửa sản phẩm</button>
			</form>
		</div>
	</div>
	<div class="container my-3" th:fragment="smartwatch">
		<a href="/adminPage/next?namePage=addproduct&p=0"
			class="fa-regular fa-circle-xmark text-dark"
			style="font-size: 35px; text-decoration: none;"></a>
		<div class="row d-flex justify-content-center">
			<form th:action="@{/product/category?namePage=smartwatch}"
				class="col-md-5" th:object="${product}" method="post" action="#"
				enctype="multipart/form-data">
				<h2 class="text-center">Add Smartwatch</h2>
				<div class="form-group">
					<label for="">Tên Smartwatch:</label> <input type="text"
						class="form-control" th:field="*{productName}" required />
				</div>
				<div class="form-group" style="position: relative">
					<label for="">Giá sản phẩm:</label> <input type="text" id="price"
															   class="form-control" th:field="*{price}" required onfocus="this.value='';"/>
					<span id="mes-price" style="position: absolute; top:40px; right: 10px; color: red" ></span>
				</div>
				<div class="form-group">
					<label for="">Màn hình:</label> <input type="text"
						class="form-control" th:field="*{configure.screen}" required />
				</div>
				<div class="form-group">
					<label for="">Thời gian sử dụng liên tục:</label> <input type="text" class="form-control"
						required th:field="*{configure.timeContinuousUse}" />
				</div>
				<div class="form-group">
					<label for="">Kết nối được với hệ điều hành:</label> <input type="text" class="form-control"
						required th:field="*{configure.connectWithOS}" />
				</div>
				<div class="form-group">
					<label for="">Mặt đồng hồ:</label>
					<input type="text" class="form-control" required th:field="*{configure.clockFace}" />
				</div>
				<div class="form-group">
					<label for="">Số lượng:</label> <input type="text"
						class="form-control" th:field="*{number}" required style="width: 150px;" onfocus="this.value='';"/>
				</div>
				<div class="form-group d-flex flex-column">
					<label for="">Hãng sản xuất:</label> <select name="cars"
						th:field="*{brand}" class="custom-select custom-select-md"
						style="width: 250px">
						<option th:each="b : ${brandList}" th:value="${b}" th:text="${b}" />
					</select>
				</div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn 1 ảnh đại diện sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="imageInfor" placeholder="Enter photo" accept="image/*"
						id="image1" required>
				</div>
				<div id="frame1" class="d-flex justify-content-around flex-wrap"></div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn từ 2 đến 10 ảnh chi tiết sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="photos" placeholder="Enter photo" accept="image/*"
						id="image" multiple="multiple" required>
				</div>
				<div id="frames" class="d-flex justify-content-around flex-wrap"></div>
				<button type="submit" class="btn btn-primary" id="submit">Thêm
					sản phẩm</button>
			</form>
		</div>
	</div>
	<div class="container my-3" th:fragment="smartwatchupdate">
		<a href="/listproducts?namePage=products&p=0"
			class="fa-regular fa-circle-xmark text-dark"
			style="font-size: 35px; text-decoration: none;"></a>
		<div class="row d-flex justify-content-center">
			<form th:action="@{/listproducts/update(id=${product.getId()})}"
				class="col-md-5" th:object="${product}" method="post" action="#"
				enctype="multipart/form-data">
				<h2 class="text-center">Update Smartwatch</h2>
				<div class="form-group">
					<label for="">Tên Smartwatch:</label> <input type="text"
						class="form-control" th:field="*{productName}" required />
				</div>
				<div class="form-group" style="position: relative">
					<label for="">Giá sản phẩm:</label> <input type="text" id="price"
															   class="form-control" th:field="*{price}" required onfocus="this.value='';"/>
					<span id="mes-price" style="position: absolute; top:40px; right: 10px; color: red" ></span>
				</div>
				<div class="form-group">
					<label for="">Màn hình:</label> <input type="text"
						class="form-control" th:field="*{configure.screen}" required />
				</div>
				<div class="form-group">
					<label for="">Thời gian sử dụng liên tục:</label> <input type="text" class="form-control"
						required th:field="*{configure.timeContinuousUse}" />
				</div>
				<div class="form-group">
					<label for="">Kết nối được với hệ điều hành:</label> <input type="text" class="form-control"
						required th:field="*{configure.connectWithOS}" />
				</div>
				<div class="form-group">
					<label for="">Mặt đồng hồ:</label>
					<input type="text" class="form-control" required th:field="*{configure.clockFace}" />
				</div>
				<div class="form-group">
					<label for="">Số lượng:</label> <input type="text"
						class="form-control" th:field="*{number}" style="width: 150px" />
				</div>
				<div class="form-group d-flex flex-column">
					<label for="">Hãng sản xuất:</label> <select name="cars"
						th:field="*{brand}" class="custom-select custom-select-md"
						style="width: 250px">
						<option th:each="b : ${brandList}" th:value="${b}" th:text="${b}" />
					</select>
				</div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn 1 ảnh đại diện sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="imageInfor" placeholder="Enter photo" accept="image/*"
						id="image1">
				</div>
				<div id="frame1" class="d-flex justify-content-around flex-wrap">
					<img th:src="@{'../images/' + ${product.getId()} + '/infor/' + ${product.getImageProductInfor()}}" 
					alt="" style="width:200px; height:200px"/>
				</div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn từ 2 đến 10 ảnh chi tiết sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="photos" placeholder="Enter photo" accept="image/*"
						id="image" multiple="multiple">
				</div>
				<div id="frames" class="d-flex justify-content-around flex-wrap">
					<th:block th:each="p : ${product.getProductImages()}">
						<img th:src="@{'../images/' + ${product.getId()} + '/' + ${p.getImage()}}"
						 alt="" style="width:200px; height:200px; margin-bottom: 15px; margin-top: 10px"/>
					</th:block>
				</div>
				<button type="submit" class="btn btn-primary" id="submit">Chỉnh sửa sản phẩm</button>
			</form>
		</div>
	</div>
	<div class="container my-3" th:fragment="earphone">
		<a href="/adminPage/next?namePage=addproduct&p=0"
			class="fa-regular fa-circle-xmark text-dark"
			style="font-size: 35px; text-decoration: none;"></a>
		<div class="row d-flex justify-content-center">
			<form th:action="@{/product/category?namePage=earphone}"
				class="col-md-5" th:object="${product}" method="post" action="#"
				enctype="multipart/form-data">
				<h2 class="text-center">Add Earphone</h2>
				<div class="form-group">
					<label for="">Tên Earphone:</label> <input type="text"
						class="form-control" th:field="*{productName}" required />
				</div>
				<div class="form-group" style="position: relative">
					<label for="">Giá sản phẩm:</label> <input type="text" id="price"
															   class="form-control" th:field="*{price}" required onfocus="this.value='';"/>
					<span id="mes-price" style="position: absolute; top:40px; right: 10px; color: red" ></span>
				</div>
				<div class="form-group">
					<label for="">Thời gian tai nghe:</label> <input type="text" class="form-control"
						required th:field="*{configure.timeEarPhone}" />
				</div>
				<div class="form-group">
					<label for="">Thời gian hộp sạc:</label> <input type="text" class="form-control"
						required th:field="*{configure.timeChargeBox}" />
				</div>
				<div class="form-group">
					<label for="">Kết nối được với hệ điều hành:</label> <input type="text" class="form-control"
						required th:field="*{configure.connectWithOS}" />
				</div>
				<div class="form-group">
					<label for="">Hỗ trợ kết nối:</label> <input type="text" class="form-control"
						required th:field="*{configure.connectWithOS}" />
				</div>
				<div class="form-group">
					<label for="">Cổng sạc:</label>
					<div class="d-flex justify-content-around">
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="chargePort"
								name="radio" value="Type-C" th:field="*{configure.chargePort}">
							<label class="custom-control-label" for="chargePort">Type-C</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input"
								id="chargePort1" name="radio" value="Lightning"
								th:field="*{configure.chargePort}"> <label
								class="custom-control-label" for="chargePort1">Lightning</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Số lượng:</label> <input type="text"
						class="form-control" th:field="*{number}" required style="width: 150px" onfocus="this.value='';"/>
				</div>
				<div class="form-group d-flex flex-column">
					<label for="">Hãng sản xuất:</label> <select name="cars"
						th:field="*{brand}" class="custom-select custom-select-md"
						style="width: 250px">
						<option th:each="b : ${brandList}" th:value="${b}" th:text="${b}" />
					</select>
				</div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn 1 ảnh đại diện sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="imageInfor" placeholder="Enter photo" accept="image/*"
						id="image1" required>
				</div>
				<div id="frame1" class="d-flex justify-content-around flex-wrap"></div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn 2 đến 10 ảnh chi tiết sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="photos" placeholder="Enter photo" accept="image/*"
						id="image" multiple="multiple" required>
				</div>
				<div id="frames" class="d-flex justify-content-around flex-wrap"></div>
				<button type="submit" class="btn btn-primary" id="submit">Thêm
					sản phẩm</button>
			</form>
		</div>
	</div>
	<div class="container my-3" th:fragment="earphoneupdate">
		<a href="/listproducts?namePage=products&p=0"
			class="fa-regular fa-circle-xmark text-dark"
			style="font-size: 35px; text-decoration: none;"></a>
		<div class="row d-flex justify-content-center">
			<form th:action="@{/listproducts/update(id=${product.getId()})}"
				class="col-md-5" th:object="${product}" method="post" action="#"
				enctype="multipart/form-data">
				<h2 class="text-center">Update Earphone</h2>
				<div class="form-group" style="position: relative">
					<label for="">Giá sản phẩm:</label> <input type="text" id="price"
															   class="form-control" th:field="*{price}" required onfocus="this.value='';"/>
					<span id="mes-price" style="position: absolute; top:40px; right: 10px; color: red" ></span>
				</div>
				<div class="form-group">
					<label for="">Giá sản phẩm:</label> <input type="text"
						class="form-control" th:field="*{price}" required />
				</div>
				<div class="form-group">
					<label for="">Thời gian tai nghe:</label> <input type="text" class="form-control"
						required th:field="*{configure.timeEarPhone}" />
				</div>
				<div class="form-group">
					<label for="">Thời gian hộp sạc:</label> <input type="text" class="form-control"
						required th:field="*{configure.timeChargeBox}" />
				</div>
				<div class="form-group">
					<label for="">Kết nối được với hệ điều hành:</label> <input type="text" class="form-control"
						required th:field="*{configure.connectWithOS}" />
				</div>
				<div class="form-group">
					<label for="">Hỗ trợ kết nối:</label> <input type="text" class="form-control"
						required th:field="*{configure.connectWithOS}" />
				</div>
				<div class="form-group">
					<label for="">Cổng sạc:</label>
					<div class="d-flex justify-content-around">
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input" id="chargePort"
								name="radio" value="Type-C" th:field="*{configure.chargePort}">
							<label class="custom-control-label" for="chargePort">Type-C</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" class="custom-control-input"
								id="chargePort1" name="radio" value="Lightning"
								th:field="*{configure.chargePort}"> <label
								class="custom-control-label" for="chargePort1">Lightning</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Số lượng:</label> <input type="text"
						class="form-control" th:field="*{number}" style="width: 150px" />
				</div>
				<div class="form-group d-flex flex-column">
					<label for="">Hãng sản xuất:</label> <select name="cars"
						th:field="*{brand}" class="custom-select custom-select-md"
						style="width: 250px">
						<option th:each="b : ${brandList}" th:value="${b}" th:text="${b}" />
					</select>
				</div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn 1 ảnh đại diện sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="imageInfor" placeholder="Enter photo" accept="image/*"
						id="image1">
				</div>
				<div id="frame1" class="d-flex justify-content-around flex-wrap">
					<img th:src="@{'../images/' + ${product.getId()} + '/infor/' + ${product.getImageProductInfor()}}" 
					alt="" style="width:200px; height:200px"/>
				</div>
				<div class="form-group custom-file my-3">
					<label class="custom-file-label">Chọn từ 2 đến 10 ảnh chi tiết sản
						phẩm</label> <input type="file" class="form-control custom-file-input"
						name="photos" placeholder="Enter photo" accept="image/*"
						id="image" multiple="multiple">
				</div>
				<div id="frames" class="d-flex justify-content-around flex-wrap">
					<th:block th:each="p : ${product.getProductImages()}">
						<img th:src="@{'../images/' + ${product.getId()} + '/' + ${p.getImage()}}"
						 alt="" style="width:200px; height:200px; margin-bottom: 15px; margin-top: 10px"/>
					</th:block>
				</div>
				<button type="submit" class="btn btn-primary" id="submit">Chỉnh sửa sản phẩm</button>
			</form>
		</div>
	</div>
</body>
</html>
