<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text=${namePage}></title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous" >
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous" ></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous" ></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous" ></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	th:fragment="fontawesome" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
	th:fragment="jquery"></script>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2"
				style="background-color: #EDEAE6; min-height: 100vh;">
				<div class="row">
					<div class="p-4">
						<img th:src="@{/logo.png}" alt="Logo" style="width: 200px;">
					</div>
					<div class="list-group py-3 text-capitalize"
						style="padding-left: 27px;">
						<a th:href="@{/adminPage/next(namePage='overview')}"
							class="list-group-item list-group-item-action">Overview</a> 
						<a th:href="@{/adminPage/next(namePage='addproduct')}"
							class="list-group-item list-group-item-action">Add Product</a> 
						<a href="/adminPage/page?p=0"
							class="list-group-item list-group-item-action">Users management</a> 
						<a th:href="@{/listproducts(namePage='products',p=0)}"
							class="list-group-item list-group-item-action">Product managerment</a>
						<a th:href="@{/listorders(namePage='listorders',p=0)}"
						   class="list-group-item list-group-item-action">Order managerment</a>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<div class="row" style="height: 50px; background-color: black;">
					<div class="col">
						<h1 class="text-center" style="line-height: 50px; color: #3edbf0;">Admin
							Page</h1>
					</div>
				</div>
				<div class="row mb-3 d-flex justify-content-between"
					style="height: 50px; background-color: #EDEAE6">
					<h4 style="line-height: 50px; text-transform: uppercase;"
						th:text=${namePage}></h4>
					<a href="/logout" class="fa-solid fa-right-from-bracket text-dark"
						style="line-height: 50px; font-size: 20px; text-decoration: none; margin-right: 20px"></a>
				</div>
				<div class="row d-flex justify-content-center"
					style="background-color: #fff;">
					<th:block th:switch="${namePage}">
						<div th:case="'overview'" style="width: 100%;">
							<div
								th:replace="~{AdminPage/fragment::overview(allUsers=${allUsers},allProducts=${allProducts},
								allOrders=${allOrders})}">
							</div>
						</div>
						<div th:case="'products'">
							<div th:replace="~{AdminPage/fragment::products}"></div>
						</div>
						<div th:case="'list users'">
							<div th:replace="~{AdminPage/fragment::listusers}"></div>
						</div>
						<div th:case="'add product'" style="width: 100%;">
							<div th:replace="~{AdminPage/fragment::addproduct}"></div>
						</div>
						<div th:case="'tablet'" style="width: 100%;">
							<div th:replace="~{AdminPage/fragment::tablet}"></div>
						</div>
						<div th:case="'tabletupdate'" style="width: 100%;">
							<div th:replace="~{AdminPage/fragment::tabletupdate}"></div>
						</div>
						<div th:case="'laptop'" style="width: 100%;">
							<div th:replace="~{AdminPage/fragment::laptop}"></div>
						</div>
						<div th:case="'laptopupdate'" style="width: 100%;">
							<div th:replace="~{AdminPage/fragment::laptopupdate}"></div>
						</div>
						<div th:case="'smartwatch'" style="width: 100%;">
							<div th:replace="~{AdminPage/fragment::smartwatch}"></div>
						</div>
						<div th:case="'smartwatchupdate'" style="width: 100%;">
							<div th:replace="~{AdminPage/fragment::smartwatchupdate}"></div>
						</div>
						<div th:case="'earphone'" style="width: 100%;">
							<div th:replace="~{AdminPage/fragment::earphone}"></div>
						</div>
						<div th:case="'earphoneupdate'" style="width: 100%;">
							<div th:replace="~{AdminPage/fragment::earphoneupdate}"></div>
						</div>
						<div th:case="'listorders'" style="width: 100%;">
							<div th:replace="~{AdminPage/fragment::listorders}"></div>
						</div>
						<div th:case="'orderdetail'" style="width: 100%;">
							<div th:replace="~{AdminPage/fragment::orderdetail}"></div>
						</div>
					</th:block>
				</div>
				<span th:text="${message}"></span>
			</div>
		</div>
	</div>
<script type="text/javascript">	
	$(document).ready(function(){
	    $('#image1').change(function(){
	        $("#frame1").html('');
	        $("#frame1").empty();
	    	$("#frame1").append('<img src="'+window.URL.createObjectURL(this.files[0])+
	            			'"width="200px" height="200px"/>');
	    });    
	    
	    $('#image').change(function(){
	    	$('#submit').prop('disabled', false);
	        $("#frames").html('');
	    	if($(this)[0].files.length > 10){
	    		$("#frames").append('<span class="text-danger">Số lượng ảnh không vượt quá 10</span>');
	    		$('#submit').prop('disabled', true);
	    	}else if($(this)[0].files.length < 2){
	    		$("#frames").append('<span class="text-danger">Số lượng ảnh không ít hơn 2 ảnh</span>');
	    		$('#submit').prop('disabled', true);
	    	}else{
	        	for (var i = 0; i < $(this)[0].files.length; i++) {
	            	$("#frames").append('<img class="items" src="'+window.URL.createObjectURL(this.files[i])+
	            			'"width="200px" height="200px"/>');
	            	$(".items").css({"margin-top":"10px","margin-bottom":"15px"});
	        	}
	    	}
	    });  
	    
		$('.delete').on('click', function(){
			var id = $(this).data('id');
			$('.submit').prop('href', '/listproducts/delete/' + id);
		});
		$('.check').on('click', function(){
			var id = $(this).data('id');
			$('.submit').prop('href', '/listorders/check/' + id);
		});

		$('#price').on('change', function (){
			var price = new Intl.NumberFormat().format($(this).val()).replaceAll(',','.');
			$('#mes-price').html(price+'đ')
		});
	});
</script>
</body>
</html>