<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Đăng nhập</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row d-flex justify-content-center align-items-center" style="height: 100vh">
			<form class="col-md-5 mt-5" action="#" method="post"
				th:action="@{/login}" th:object="${user}" style="border: 1px solid; padding: 20px">
				<h2 class="text-center">Đăng nhập</h2>
				<div class="form-group">
					<label for="exampleInputEmail1">Địa chỉ Email:</label> <input
						type="email" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" placeholder="Nhập địa chỉ Email"
						th:field="*{email}" required>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Mật khẩu:</label> <input
						type="password" class="form-control" id="password"
						placeholder="Nhập mật khẩu" name="up" th:field="*{password}"
						required>
				</div>
				<div th:text="${message}" style="color: red;"></div>
				<div class="d-flex justify-content-between">
					<button type="submit" class="btn btn-primary">Đăng nhập</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>